@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #18181b;
  color: #FAFAFA;  
  -webkit-font-smoothing: antialiased;  
}

#__next {
  height: 100%;
}